{% extends 'base.html.twig' %}

{% block body %}
    
    <div class="portfolio-container">
        <div class="portfolio-sticky-animated-nav">
            <div class="portfolio-sticky-animated-inner">
                <nav>
                    <a href="{{path('homepage')}}"><div class="portfolio-sticky-animated-button">Home</div></a>
                    <a href="{{path('about')}}"><div class="portfolio-sticky-animated-button">O mnie</div></a>
                    <a href="{{path('portfolio')}}"><div class="portfolio-sticky-animated-button">Portfolio</div></a>
                    <a href="{{path('blog')}}"><div class="portfolio-sticky-animated-button">Blog</div></a>
                    <a href="{{path('contact')}}"><div class="portfolio-sticky-animated-button">Kontakt</div></a>
                    <a href="{{path('homepage')}}"><div class="portfolio-sticky-animated-button">Usługi</div></a>
                </nav>
                <div class="portfolio-sticky-animated-socials">
                    <a href="#"><div class="portfolio-social-roll-facebook"></div></a>
                    <a href="#"><div class="portfolio-social-roll-in"></div></a>
                </div>
            </div>
        </div>
        <div class="portfolio-main">
            <header>O mnie</header>
            <div class="portfolio-about-photo">
                <img src="/images/example-work.jpg" class="img-circle" alt="example-work" />
                <div class="portfolio-about-rolls-icons">
                    <a href="#"><div class="portfolio-cv-roll"></div></a>
                    <a href="#"><div class="portfolio-cv-roll"></div></a>
                    <a href="#"><div class="portfolio-cv-roll"></div></a>
                </div>
            </div>
            <div class="portfolio-about-short-description">
                <b>.imię:</b> Dominik<br/>
                <b>.nazwisko:</b> Pakosz<br/>
                <b>.zainteresowania:</b> programowanie, sporty walki, sporty drużynowe(siatkówka, koszykówka)<br/>
            </div>
            <div style="clear:both;"></div>
            <div class="portfolio-about-long-description">
                <h3>Wiecej informacji</h3>

                            <p>
                        <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li>Suspendisse porta purus at magna tristique vehicula.</li>
                        </ul>
                        </p>
                        <p>
                        <ul>
                        <li>Duis interdum nisl at luctus suscipit.</li>
                        </ul>
                        </p>
                        <p>
                        <ul>
                        <li>Aenean id odio sollicitudin, ornare magna eu, varius augue.</li>
                        <li>Morbi sit amet elit et urna rhoncus pharetra quis vel nulla.</li>
                        <li>Nullam scelerisque est eget lorem mattis varius.</li>
                        <li>Nullam cursus massa nec eros vulputate aliquet.</li>
                        <li>Phasellus quis mauris venenatis, facilisis erat vitae, tempor mi.</li>
                        </ul>
                        </p>
                        <p>
                        <ul>
                        <li>Nunc dapibus magna et mattis bibendum.</li>
                        <li>Nunc sed purus pretium mauris feugiat varius.</li>
                        </ul>
                        </p>
                        <p>
                        <ul>
                        <li>Mauris euismod nisl sed ipsum gravida, convallis convallis tortor imperdiet.</li>
                        <li>Donec semper nibh id ex dapibus, non convallis quam scelerisque.</li>
                        <li>Sed convallis tellus vel purus gravida, vitae scelerisque quam vehicula.</li>
                        <li>Integer sit amet orci ut diam dapibus blandit id quis ante.</li>
                        <li>Donec porttitor orci non luctus ultricies.</li>
                        </ul>
                        </p>

            </div>
        </div>
        <footer>Dominik Pakosz &copy; 2016 | <a href="mailto:czlowiek@czlowiek.pl">Masz pytanie lub sugestię?</a></footer>
    </div>
{% endblock %}